
<tr>
  <th scope="row"><%= count_stt(params[:page] ? params[:page].to_i : 1, book_tour_counter) %></th>
  <td><%= book_tour.title %></td>
  <td><%= book_tour.customer_name %></td>
  <td><%= book_tour.phone_number %></td>
  <td><%= book_tour.start_date %></td>
  <td><%= book_tour.end_date %></td>
  <%= form_tag admin_book_tour_path(book_tour), method: :patch do %>
    <td>
      <%= select_tag :status, options_for_select(value_select_tag, selected(book_tour.status)),
        onchange: "this.form.submit();", disabled: book_tour.close? %>
    </td>
  <% end %>
  <td><%= book_tour.created_at %></td>
  <td>
    <td><%= link_to t("delete"), admin_book_tour_path(book_tour),
      method: :delete, class: "btn btn-danger" %></td>
  </td>
</tr>
