<div class="content_wrap">
  <div class="container">
    <h1 class="title_content"><%= t("tour_title") %></h1>
    <div class="form_search_tour">
        <input type="text" class="input_location" placeholder=<%= t("tour_placeholder") %>>
        <button class="btn_search"><%= t("tour_search") %></button>
    </div>
    <h3 class="title_support">
        <%= t("tour_hot") %>
    </h3>
    <div class="row mb-4">
      <div class="col-lg-6 mb-4">
          <%= link_to "#", class: "link_card" do  %>
            <div class="card_wrap">
            <div class="row">
              <div class="col-lg-5 card_wrapper">
                <img class="img_card" src="/images/card_1.jpg">
              </div>
              <div class="col-lg-7 card_wrapper">
                <div class="card_content">
                  <h4>Paris</h4>
                  <p>3 <%= t("tour_day") %>, 4 <%= t("tour_night") %></p>
                  <div class="card_content_price">
                    <span class="price_text"><%= t("tour_start") %></span>
                    <span class="price_number">$1650</span>
                  </div>
                  <div class="card_content_des">
                    Per person on twin sharing 
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>
      </div>
      <div class="col-lg-6 mb-4">
          <%= link_to "#", class: "link_card" do  %>
            <div class="card_wrap">
            <div class="row">
              <div class="col-lg-5 card_wrapper">
                <img class="img_card" src="/images/card_1.jpg">
              </div>
              <div class="col-lg-7 card_wrapper">
                <div class="card_content">
                  <h4>Paris</h4>
                  <p>3 <%= t("tour_day") %>, 4 <%= t("tour_night") %></p>
                  <div class="card_content_price">
                    <span class="price_text"><%= t("tour_start") %></span>
                    <span class="price_number">$1650</span>
                  </div>
                  <div class="card_content_des">
                    Per person on twin sharing 
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>
      </div>
      <div class="col-lg-6 mb-4">
          <%= link_to "#", class: "link_card" do  %>
            <div class="card_wrap">
            <div class="row">
              <div class="col-lg-5 card_wrapper">
                <img class="img_card" src="/images/card_1.jpg">
              </div>
              <div class="col-lg-7 card_wrapper">
                <div class="card_content">
                  <h4>Paris</h4>
                  <p>3 <%= t("tour_day") %>, 4 <%= t("tour_night") %></p>
                  <div class="card_content_price">
                    <span class="price_text"><%= t("tour_start") %></span>
                    <span class="price_number">$1650</span>
                  </div>
                  <div class="card_content_des">
                    Per person on twin sharing 
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>
      </div>
      <div class="col-lg-6 mb-4">
          <%= link_to "#", class: "link_card" do  %>
            <div class="card_wrap">
            <div class="row">
              <div class="col-lg-5 card_wrapper">
                <img class="img_card" src="/images/card_1.jpg">
              </div>
              <div class="col-lg-7 card_wrapper">
                <div class="card_content">
                  <h4>Paris</h4>
                  <p>3 <%= t("tour_day") %>, 4 <%= t("tour_night") %></p>
                  <div class="card_content_price">
                    <span class="price_text"><%= t("tour_start") %></span>
                    <span class="price_number">$1650</span>
                  </div>
                  <div class="card_content_des">
                    Per person on twin sharing 
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>
      </div>
    </div>
    <h3 class="title_support">
        <%= t("tour_often") %>
    </h3>
    <div class="row mb-4">
      <div class="col-lg-6 mb-4">
          <%= link_to "#", class: "link_card" do  %>
            <div class="card_wrap">
            <div class="row">
              <div class="col-lg-5 card_wrapper">
                <img class="img_card" src="/images/card_1.jpg">
              </div>
              <div class="col-lg-7 card_wrapper">
                <div class="card_content">
                  <h4>Paris</h4>
                  <p>3 <%= t("tour_day") %>, 4 <%= t("tour_night") %></p>
                  <div class="card_content_price">
                    <span class="price_text"><%= t("tour_start") %></span>
                    <span class="price_number">$1650</span>
                  </div>
                  <div class="card_content_des">
                    Per person on twin sharing 
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>
      </div>
      <div class="col-lg-6 mb-4">
          <%= link_to "#", class: "link_card" do  %>
            <div class="card_wrap">
            <div class="row">
              <div class="col-lg-5 card_wrapper">
                <img class="img_card" src="/images/card_1.jpg">
              </div>
              <div class="col-lg-7 card_wrapper">
                <div class="card_content">
                  <h4>Paris</h4>
                  <p>3 <%= t("tour_day") %>, 4 <%= t("tour_night") %></p>
                  <div class="card_content_price">
                    <span class="price_text"><%= t("tour_start") %></span>
                    <span class="price_number">$1650</span>
                  </div>
                  <div class="card_content_des">
                    Per person on twin sharing 
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>
      </div>
      <div class="col-lg-6 mb-4">
          <%= link_to "#", class: "link_card" do  %>
            <div class="card_wrap">
            <div class="row">
              <div class="col-lg-5 card_wrapper">
                <img class="img_card" src="/images/card_1.jpg">
              </div>
              <div class="col-lg-7 card_wrapper">
                <div class="card_content">
                  <h4>Paris</h4>
                  <p>3 <%= t("tour_day") %>, 4 <%= t("tour_night") %></p>
                  <div class="card_content_price">
                    <span class="price_text"><%= t("tour_start") %></span>
                    <span class="price_number">$1650</span>
                  </div>
                  <div class="card_content_des">
                    Per person on twin sharing 
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>
      </div>
      <div class="col-lg-6 mb-4">
          <%= link_to "#", class: "link_card" do  %>
            <div class="card_wrap">
            <div class="row">
              <div class="col-lg-5 card_wrapper">
                <img class="img_card" src="/images/card_1.jpg">
              </div>
              <div class="col-lg-7 card_wrapper">
                <div class="card_content">
                  <h4>Paris</h4>
                  <p>3 <%= t("tour_day") %>, 4 <%= t("tour_night") %></p>
                  <div class="card_content_price">
                    <span class="price_text"><%= t("tour_start") %></span>
                    <span class="price_number">$1650</span>
                  </div>
                  <div class="card_content_des">
                    Per person on twin sharing 
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
