<%= render "layouts/slider" %>
<div class="content_wrap">
  <div class="container">
    <h1 class="title_content"><%= t("tour_title") %></h1>
    <%= form_tag tours_path, method: "GET", class: "form_search_tour" do %>
      <%= text_field_tag :key, "", class: 'input_location', placeholder: t("tour_placeholder"), value: params[:key].present? ? params[:key] : "" %>
      <%= button_tag t("tour_search"), class: "btn_search" %>
    <% end %>
    <h3 class="title_support">
      <%= t("tour_often") %>
    </h3>
    <div class="row mb-4">
      <% if @tours.size > Settings.min_quantity %>
        <%= render @tours %>
      <% else %>
        <%= t("not_find_tour") %>
      <% end %>
    </div>
    <p><%= will_paginate @tours %></p>
    <h3 class="title_support">
      <%= t("tour_hot") %>
    </h3>
    <div class="row mb-4">
      <%= render @tourhighlights %>
    </div>
  </div>
</div>
