<%= render "layouts/slider" %>
<div class="content_wrap">
  <div class="container">
    <h1 class="title_content"><%= t("tour_title") %></h1>
    <div class="form_search_tour">
        <input type="text" class="input_location" placeholder=<%= t("tour_placeholder") %>>
        <button class="btn_search"><%= t("tour_search") %></button>
    </div>
    <h3 class="title_support">
      <%= t("tour_often") %>
    </h3>
    <div class="row mb-4">
      <%= render @tours %>

    </div>
    <p><%= will_paginate @tours %></p>
    <h3 class="title_support">
      <%= t("tour_hot") %>
    </h3>
    <div class="row mb-4">
      <%= render @tourhighlights %>
    </div>
  </div>
</div>
