<tr>
  <th scope="row"><%= book_tour_counter + 1 %></th>
  <td><%= link_to book_tour.title, tour_path(book_tour) %></td>
  <td><%= book_tour.quantity %></td>
  <td><%= l(book_tour.start_date, format: :default) %></td>
  <td><%= l(book_tour.end_date, format: :default) %></td>
  <td><%= book_tour.status %></td>
</tr>
