<div class="header">
  <div class="header_wrap">
    <div class="logo_nav">
      <a href="" class="logo_nav_link">Travel</a>
    </div>
    <div class="nav_item">
      <%= link_to t("home"), "/", class: "nav_item_link" %>
      <%= link_to t("tour"), "/", class: "nav_item_link" %>
      <%= link_to t("about"), "/about", class: "nav_item_link" %>
      <%= link_to t("contact"), "/contact", class: "nav_item_link" %>
      <% if logged_in? %>
        <%= link_to t("logout"), logout_path, method: :delete, class: "nav_item_link" %>
      <% else %>
        <%= link_to t("login"), login_path, class: "nav_item_link" %>
      <% end %>
    </div>
  </div>
</div>
