<div class="header">
  <div class="header_wrap">
    <div class="logo_nav">
      <a href="" class="logo_nav_link">Travel</a>
    </div>
    <div class="nav_item">
      <%= link_to "Home", "/", class: "nav_item_link" %>
      <%= link_to "Tour", "/", class: "nav_item_link" %>
      <%= link_to "About", "/about", class: "nav_item_link" %>
      <%= link_to "Contact", "/contact", class: "nav_item_link" %>
      <%= link_to "Login", "/login", class: "nav_item_link" %>
    </div>
  </div>
</div>
