<!DOCTYPE html>
<html>
  <head>
    <title><%= t("title") %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap",
     media: "all", "data-turbolinks-track": "reload" %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2">
          <%= render "layouts/menu_admin" %>
        </div>
        <div class="col-lg-10">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
